<header class="page-header">
  <h2>Vassal: <strong>{{ vassal.name }}</strong></h2>
  <a href="/kingdoms">Back to Kingdoms</a>
</header>


<p>ID: {{ vassal.id }}</p>
<p>Name: {{ vassal.name }}</p>






